




















.jobform {
	padding-top: 30px;
	

    
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

a .myclass h3{
	font-size: 200px;
	text-decoration: none;

}
a h3{


    text-decoration:none;

}